.app-header {
  font-size: 24px;
  margin: 8px 0 6px;
  font-weight: bold;
}

.splash-container {
  max-width: 600px;
}

.paragraph {
  margin: 0 0 12px;
}

.footer {
  font-size: 12px;
  margin-top: 12px;
}

@media (max-device-width: 400px) {
  .app-header {
    margin-top: 2px;
  }
}
