.drawing-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 1 auto;
}

.controls-header {
  font-size: 24px;
  height: 40px;
}

.controls-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex: 0 0 auto;
  flex-wrap: wrap;
}

.controls-button {
  min-width: 40px;
  height: 40px;
}
.controls-button img {
  width: 40px;
}

.search-input {
  border: 1px solid #efefef;
  border-radius: 4px;
  padding: 5px 8px;
  margin: 5px;
  height: 40px;
  font-size: 21px;
  opacity: .8;
}

.image-wrapper {
  display: flex;
  flex: 1 1 auto;
  padding: 10px 0 2px;
  justify-content: center;
}
.image-container {
  max-height: 100%;
  position: relative;
}
.drawing {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.thumbnails {
  padding: 10px 0;
}
.thumbnail {
  object-fit: cover;
  width: 128px;
  height: 128px;
  border-radius: 4px;
  margin: 3px;
  cursor: pointer;
  border: solid 1px #efefef;
  opacity: .8;
  max-width: calc(33% - 7px);
}
.thumbnail:hover {
  opacity: 1;
}
.upside-down {
  transform: rotateZ(180deg);
}
.flipped {
  transform: scaleY(-1);
}

.attribution {
  font-size: 10px;
  position: relative;
  margin-top: -24px;
  z-index: 2;
  letter-spacing: 1.2px;
}
.attribution a {
  color: #373737;
  letter-spacing: .5px;
}

.search-frame {
  width: 100vw;
  max-width: 1023px; /* Fun: this hits a Bing breakpoint that hides the stupid insight view */
  height: 100%;
}
